In [5]:
import pandas as pd


#Turn Excel file into CSV file to use
# Specify the path to the Excel file
excel_file = 'HRDataset_Cleaned.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_file)

# Specify the path for the output CSV file
csv_file = 'HRDataset_Cleaned.csv'

# Save the DataFrame as a CSV file
df.to_csv(csv_file, index=False)

In [6]:
df.head()

,HRDataset_Cleaned,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,EmpID,PerfScoreID,FromDiversityJobFairID,Salary,Position,State,DOB,Sex,MaritalDesc,CitizenDesc,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,LastPerformanceReview_Date,DaysLateLast30,Absences
1,10026,4,0,62506,Production Technician I,MA,07/10/83,M,Single,US Citizen,...,Production,Michael Albert,22,LinkedIn,Exceeds,4.60,5,1/17/2019,0,1
2,10084,3,0,104437,Sr. DBA,MA,05/05/75,M,Married,US Citizen,...,IT/IS,Simon Roup,4,Indeed,Fully Meets,4.96,3,2/24/2016,0,17
3,10196,3,0,64955,Production Technician II,MA,09/19/88,F,Married,US Citizen,...,Production,Kissy Sullivan,20,LinkedIn,Fully Meets,3.02,3,5/15/2012,0,3
4,10088,3,0,64991,Production Technician I,MA,09/27/88,F,Married,US Citizen,...,Production,Elijiah Gray,16,Indeed,Fully Meets,4.84,5,1/3/2019,0,15

In [7]:
# Load the dataset with header as the second row
HRDataset_df = pd.read_csv('HRDataset_Cleaned.csv', header=1)

# Display the updated DataFrame
HRDataset_df.head()

,EmpID,PerfScoreID,FromDiversityJobFairID,Salary,Position,State,DOB,Sex,MaritalDesc,CitizenDesc,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,LastPerformanceReview_Date,DaysLateLast30,Absences
0,10026,4,0,62506,Production Technician I,MA,07/10/83,M,Single,US Citizen,...,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,1/17/2019,0,1
1,10084,3,0,104437,Sr. DBA,MA,05/05/75,M,Married,US Citizen,...,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,2/24/2016,0,17
2,10196,3,0,64955,Production Technician II,MA,09/19/88,F,Married,US Citizen,...,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,5/15/2012,0,3
3,10088,3,0,64991,Production Technician I,MA,09/27/88,F,Married,US Citizen,...,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,1/3/2019,0,15
4,10069,3,0,50825,Production Technician I,MA,09/08/89,F,Divorced,US Citizen,...,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,2/1/2016,0,2

In [9]:
# Import necessary libraries for modeling (you might have already imported these)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Define the features and target variable
X = HRDataset_df[['PerfScoreID', 'Salary', 'EngagementSurvey', 'EmpSatisfaction', 'DaysLateLast30', 'Absences']]
y = HRDataset_df['TermReason']  # The target variable is 'TermReason'

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the classification accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Classification Accuracy: {accuracy}')

Classification Accuracy: 0.6190476190476191