In [46]:
# Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [47]:
# Load the cleaned data
data = pd.read_csv('HRDataset.csv')

# Explore the dataset
print(data.head())
print(data.info())

   EmpID   StartDate ExitDate Total Employment Time         DOB  \
0   3427  2019-09-20      NaN                Active  1969-10-07
1   3428  2023-02-11      NaN                Active  1965-08-30
2   3429  2018-12-10      NaN                Active  1991-10-06
3   3430  2021-06-21      NaN                Active  1998-04-04
4   3431  2019-06-29      NaN                Active  1969-08-29

                     Title       Supervisor BusinessUnit EmployeeStatus  \
0  Production Technician I     Peter Oneill         CCDR         Active
1  Production Technician I  Renee Mccormick           EW         Active
2       Area Sales Manager   Crystal Walker           PL         Active
3       Area Sales Manager   Rebekah Wright         CCDR         Active
4       Area Sales Manager        Jason Kim          TNS         Active

  EmployeeType  ... TerminationType     DepartmentType              Division  \
0     Contract  ...          Active  Production         Finance & Accounting
1     Contract  ...          Active  Production                       Aerial
2    Full-Time  ...          Active              Sales         General - Sga
3     Contract  ...          Active              Sales  Finance & Accounting
4     Contract  ...          Active              Sales         General - Con

  State JobFunctionDescription GenderCode  RaceDesc MaritalDesc  \
0    MA             Accounting     Female     White     Widowed
1    MA                  Labor       Male  Hispanic     Widowed
2    MA              Assistant       Male  Hispanic     Widowed
3    ND                  Clerk       Male     Other      Single
4    FL                Laborer     Female     Other     Married

  Performance Score Current Employee Rating
0       Fully Meets                       4
1       Fully Meets                       3
2       Fully Meets                       4
3       Fully Meets                       2
4       Fully Meets                       3

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   StartDate                   3000 non-null   object
 2   ExitDate                    1533 non-null   object
 3   Total Employment Time       3000 non-null   object
 4   DOB                         3000 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   BusinessUnit                3000 non-null   object
 8   EmployeeStatus              3000 non-null   object
 9   EmployeeType                3000 non-null   object
 10  PayZone                     3000 non-null   object
 11  EmployeeClassificationType  3000 non-null   object
 12  TerminationType             3000 non-null   object
 13  DepartmentType              3000 non-null   object
 14  Division                    3000 non-null   object
 15  State                       3000 non-null   object
 16  JobFunctionDescription      3000 non-null   object
 17  GenderCode                  3000 non-null   object
 18  RaceDesc                    3000 non-null   object
 19  MaritalDesc                 3000 non-null   object
 20  Performance Score           3000 non-null   object
 21  Current Employee Rating     3000 non-null   int64
dtypes: int64(2), object(20)
memory usage: 515.8+ KB
None

In [48]:
# Create a binary target variable for turnover prediction
time_frame = pd.to_datetime('2023-01-01')
data['Turnover'] = (pd.to_datetime(data['ExitDate']) <= time_frame).astype(int)

# Drop the 'ExitDate' column as it's no longer needed
data.drop('ExitDate', axis=1, inplace=True)

In [49]:
# Handle date columns
data['StartDate'] = pd.to_datetime(data['StartDate'])
data['DOB'] = pd.to_datetime(data['DOB'])

In [50]:
# Calculate employee age
data['Age'] = (time_frame - data['DOB']).dt.days // 365

# Drop the original datetime columns
data.drop(['StartDate', 'DOB'], axis=1, inplace=True)

In [51]:
# Convert categorical columns to numerical using label encoding
label_encoder = LabelEncoder()
categorical_columns = ['Total Employment Time', 'Title', 'Supervisor', 'BusinessUnit', 'EmployeeStatus', 'EmployeeType', 'PayZone', 'EmployeeClassificationType', 'TerminationType', 'DepartmentType', 'Division', 'State', 'JobFunctionDescription', 'GenderCode', 'RaceDesc', 'MaritalDesc', 'Performance Score']

for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

In [52]:
# Split the data into features (X) and the binary target variable (y)
X = data.drop(['EmpID', 'Turnover'], axis=1)
y = data['Turnover']

In [53]:
# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
# Create and train the random forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [55]:
# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

In [56]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.75

In [57]:
# Print classification report and confusion matrix
print(classification_report(y_test, y_pred))
confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(confusion)

              precision    recall  f1-score   support

           0       0.88      0.74      0.80       404
           1       0.59      0.79      0.67       196

    accuracy                           0.75       600
   macro avg       0.73      0.76      0.74       600
weighted avg       0.78      0.75      0.76       600

Confusion Matrix:
[[297 107]
 [ 42 154]]